@use "../../settings" as *;
@use "utility" as *;

/// Button styles.
///
/// @param {string} $style - The style of the button.
///
/// @example scss - Primary button
/// .button {
///   @include button(primary);
/// }
///
@mixin button($style: primary) {
	align-items: center;
	box-shadow: unset;
	cursor: pointer;
	display: inline-flex;
	gap: var(--wp--preset--spacing--sm);
	justify-content: center;
	text-align: center;
	transition:
		color var(--wp--custom--transition--duration--normal) var(--wp--custom--transition--timing--ease-out),
		background-color var(--wp--custom--transition--duration--normal) var(--wp--custom--transition--timing--ease-out),
		border-color var(--wp--custom--transition--duration--normal) var(--wp--custom--transition--timing--ease-out),
		opacity var(--wp--custom--transition--duration--normal) var(--wp--custom--transition--timing--ease-out);

	@if $style == primary or $style == secondary {
		border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--sm));
		padding: var(--wp--preset--spacing--md) var(--wp--preset--spacing--lg);
	}

	@if $style == primary {
		background-color: var(--wp--preset--color--brand-primary);
		border: unset;
		color: var(--wp--preset--color--base);

		&:hover {
			opacity: 0.8;
		}

		&:focus-visible {
			@include focus-ring;
		}
	}

	@if $style == secondary {
		background-color: transparent;
		border: 2px solid var(--wp--preset--color--brand-primary);
		color: var(--wp--preset--color--brand-primary);

		&:focus-visible {
			@include focus-ring;
		}
	}

	@if $style == link {
		background-color: transparent;
		border: unset;
		color: var(--wp--preset--color--brand-primary);
		padding: unset;

		&:focus-visible {
			@include focus-block;
		}
	}
}
