@use "../../settings" as *;

/// Label styles.
@mixin label() {
	display: block;
	font-size: var(--wp--preset--font-size--sm);
	font-weight: var(--wp--custom--typography--weight--heading);
	line-height: inherit;
	margin-bottom: var(--wp--preset--spacing--sm);

	&:last-child {
		margin-bottom: 0;
	}
}

/// Legend styles.
@mixin legend() {
	font-size: var(--wp--preset--font-size--lg);
	font-weight: var(--wp--custom--typography--weight--heading);
	letter-spacing: var(--wp--custom--typography--letter-spacing--tighter);
	margin-bottom: var(--wp--preset--spacing--sm);
}

/// Input styles.
@mixin field-input() {
	appearance: none;
	background-color: var(--wp--preset--color--base);
	border: 1px solid var(--wp--custom--color--border);
	border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--sm));
	box-shadow: none;
	color: var(--wp--preset--color--contrast);
	display: block;
	font-family: inherit;
	font-size: var(--wp--preset--font-size--md);
	line-height: var(--wp--custom--typography--line-height--normal);
	padding-block: var(--wp--preset--spacing--md);
	padding-inline: var(--wp--preset--spacing--lg);
	width: 100%;

	&:focus {
		border-color: var(--wp--preset--color--brand);
		box-shadow: var(--wp--preset--color--brand) 0 0 0 1px;
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	&:disabled {
		border-color: var(--wp--preset--color--base-accent);
		color: var(--wp--preset--color--base-accent);
		cursor: not-allowed;
	}

	::placeholder {
		color: var(--wp--preset--color--base-accent);
		opacity: 1;
	}
}

/// Textarea styles.
@mixin field-textarea() {
	@include field-input;
}

/// Select styles.
/// @param {Boolean} $multiple - Whether the select is a multiple select.
///
@mixin field-select($multiple: false) {
	--icon-size: 1.5em;
	appearance: none;
	border: 1px solid var(--wp--custom--color--border);
	border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--sm));
	box-shadow: none;
	display: block;
	font-family: inherit;
	font-size: var(--wp--preset--font-size--md);
	line-height: var(--wp--custom--typography--line-height--normal);
	width: 100%;

	@if not $multiple {
		background-color: var(--wp--preset--color--base);
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
		background-position: right var(--wp--preset--spacing--md) center;
		background-repeat: no-repeat;
		background-size: var(--icon-size) var(--icon-size);
		padding-block: var(--wp--preset--spacing--md);
		padding-left: var(--wp--preset--spacing--lg);
		padding-right: var(--wp--preset--spacing--3-xl);
		print-color-adjust: exact;
	} @else {
		padding-block: var(--wp--preset--spacing--md);
		padding-inline: var(--wp--preset--spacing--lg);
	}

	&:focus {
		border-color: var(--wp--preset--color--brand);
		box-shadow: var(--wp--preset--color--brand) 0 0 0 1px;
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	&:disabled {
		border-color: var(--wp--preset--color--base-accent);
		color: var(--wp--preset--color--base-accent);
		cursor: not-allowed;
	}
}

/// File input styles.
@mixin field-file() {
	background: unset;
	border-color: inherit;
	border-radius: 0;
	border-width: 0;
	font-size: unset;
	line-height: inherit;
	padding: 0;

	&:focus {
		border-color: var(--wp--preset--color--brand);
		box-shadow: var(--wp--preset--color--brand) 0 0 0 1px;
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
}

/// Checkbox styles.
@mixin field-checkbox() {
	--icon-size: 24px;

	appearance: none;
	background-color: var(--wp--preset--color--base);
	background-origin: border-box;
	border: 1px solid var(--wp--custom--color--border);
	border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--xs));
	color: var(--wp--preset--color--brand);
	display: inline-block;
	flex-shrink: 0;
	height: var(--icon-size);
	margin-right: var(--wp--preset--spacing--xs);
	padding: 0;
	print-color-adjust: exact;
	user-select: none;
	vertical-align: middle;
	width: var(--icon-size);

	&:focus {
		box-shadow: var(--wp--preset--color--base) 0 0 0 1px, var(--wp--preset--color--brand) 0 0 0 3px;
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	&:checked {
		background-color: currentcolor;
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border-color: transparent;

		&:hover,
		&:focus {
			background-color: currentcolor;
			border-color: transparent;
		}
	}

	&:indeterminate {
		background-color: currentcolor;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border-color: transparent;

		&:hover,
		&:focus {
			background-color: currentcolor;
			border-color: transparent;
		}
	}

	+ label {
		font-weight: var(--wp--custom--typography--weight--body);
	}
}

/// Radio styles.
@mixin field-radio() {
	--icon-size: 24px;

	appearance: none;
	background-color: var(--wp--preset--color--base);
	background-origin: border-box;
	border: 1px solid var(--wp--custom--color--border);
	border-radius: 100%;
	color: var(--wp--preset--color--brand);
	display: inline-block;
	flex-shrink: 0;
	height: var(--icon-size);
	margin-right: var(--wp--preset--spacing--xs);
	padding: 0;
	print-color-adjust: exact;
	user-select: none;
	vertical-align: middle;
	width: var(--icon-size);

	&:focus {
		box-shadow: var(--wp--preset--color--base) 0 0 0 1px, var(--wp--preset--color--brand) 0 0 0 3px;
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	&:checked {
		background-color: currentcolor;
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border-color: transparent;

		&:hover,
		&:focus {
			background-color: currentcolor;
			border-color: transparent;
		}
	}

	& + label {
		font-weight: var(--wp--custom--typography--weight--body);
	}
}

/// Range styles.
@mixin field-range() {
	accent-color: var(--wp--preset--color--brand);
}
