@use "../../settings" as *;

/// Display a submenu.
/// Unfortunately a placeholder doesn't work within a media query, so a mixin was the next best thing.
///
@mixin show-submenu() {
	bottom: unset;
	height: auto;
	opacity: 1;
	overflow: visible;
	transform: translateX(0);
	visibility: visible;
	width: auto;
}
