@use "utility" as *;
@use "forms" as *;

@mixin wc-product-sale-badge() {
	background-color: var(--wp--preset--color--accent-secondary);
	border: unset;
	border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--preset--border-radius--xs));
	color: var(--wp--preset--color--base);
	display: inline-flex;
	font-size: var(--wp--preset--font-size--xs);
	font-weight: var(--wp--custom--typography--font-weight--heading);
	padding: var(--wp--preset--spacing--xs) var(--wp--preset--spacing--sm);
	text-transform: unset;
}

@mixin wc-sale-badge() {
	background-color: var(--wp--custom--color--primitive--success--100);
	border: none;
	border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--preset--border-radius--xs));
	color: var(--wp--custom--color--primitive--success--900);
	font-size: var(--wp--preset--font-size--xs);
	font-weight: var(--wp--custom--typography--font-weight--body);
	line-height: var(--wp--custom--typography--line-height--none);
	padding: var(--wp--preset--spacing--sm);
	text-transform: uppercase;
}

@mixin wc-quantity-selector() {
	border: unset;
	border-radius: unset;
	gap: var(--wp--preset--spacing--xs);

	.qty,
	.wc-block-components-quantity-selector__input {
		@include field-input;
		-webkit-appearance: textfield;
		border: 1px solid var(--wp--custom--color--border-input);
		border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--preset--border-radius--xs));
		font-size: var(--wp--preset--font-size--xs);
		max-width: unset;
		padding: unset;
		width: 70px;

		&:focus {
			box-shadow: none;
		}
	}

	.wc-block-components-quantity-selector__button {
		border: 0;
		border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--preset--border-radius--xs));
		font-size: var(--wp--preset--font-size--sm);
		width: 42px;

		&:where(:not(:disabled)):hover {
			background-color: var(--wp--preset--color--tint-primary);
		}

		&:focus {
			box-shadow: none;
		}

		&:focus-visible {
			@include focus-block;
		}
	}
}

@mixin wc-trash-icon() {
	&::after {
		@include icon("icons/trash", 24px);
		color: var(--wp--custom--color--error);
	}

	svg {
		display: none;
	}
}
