@mixin wc-sale-badge() {
	background-color: var(--wp--custom--color--error);
	border: unset;
	border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--xs));
	color: var(--wp--preset--color--base);
	display: inline-flex;
	font-size: var(--wp--preset--font-size--sm);
	font-weight: var(--wp--custom--typography--weight--heading);
	padding: var(--wp--preset--spacing--xs) var(--wp--preset--spacing--sm);
	text-transform: unset;
}
