@use "tools" as *;
@use "settings" as *;

html {
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

body {
	background-color: var(--wp--preset--color--base);
	color: var(--wp--preset--color--contrast);
	font-family: var(--wp--preset--font-family--primary);
	font-size: var(--wp--preset--font-size--sm);
	-webkit-font-smoothing: antialiased;
	letter-spacing: var(--wp--custom--typography--letter-spacing--normal);
	line-height: var(--wp--custom--typography--line-height--normal);
}

/// Anything that has been anchored to should have extra scroll margin.
:target {
	scroll-margin-block: var(--wp--custom--spacing--group-gap);
}

// Set border color to theme color.
* {
	border-color: var(--wp--custom--color--border);
}
