@use "tools" as *;
@use "settings" as *;

html {
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

body {
	background-color: var(--wp--custom--color--surface--default);
	color: var(--wp--custom--color--text--default);
	font-family: var(--wp--preset--font-family--primary);
	font-size: var(--wp--preset--font-size--lg);
	-webkit-font-smoothing: antialiased;
	letter-spacing: var(--wp--custom--letter-spacing--tight);
	line-height: var(--wp--custom--line-height--normal);

	@include container-sizes(sm, md, lg, xl);
}

/// Anything that has been anchored to should have extra scroll margin.
:target {
	scroll-margin-block: var(--wp--custom--spacing--group-gap);
}
