@use "../tools" as *;
@use "../settings" as *;

html {
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

body {
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--md);
	line-height: var(--wp--custom--line-height--relaxed);

	@include container-sizes(sm, md, lg, xl);
}
