@use "../tools" as *;

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	padding: 0;
}

label {
	display: block;
	margin-bottom: var(--wp--preset--spacing--sm);

	&:last-child {
		margin-bottom: 0;
	}
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

legend {
	padding: 0;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"] {
	@include field-input;
}

textarea {
	@include field-textarea;
}

select {
	&:where(:not([multiple])) {
		@include field-select(false);
	}

	&:where([multiple]) {
		@include field-select(true);
	}
}

[type="checkbox"] {
	@include field-checkbox;
}

[type="radio"] {
	@include field-radio;
}

[type="file"] {
	@include field-file;
}

[type="range"] {
	@include field-range;
}

[type="submit"] {
	@include button-base;
}

::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}

// Unfortunate hack until https://bugs.webkit.org/show_bug.cgi?id=198959 is fixed.
// This sucks because users can't change line-height with a utility on date inputs now.
// Reference: https://github.com/twbs/bootstrap/pull/31993
::-webkit-date-and-time-value {
	min-height: 1.5em;
}

// In Safari on macOS date time inputs are 4px taller than normal inputs
// This is because there is extra padding on the datetime-edit and datetime-edit-{part}-field pseudo elements
::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
	padding-bottom: 0;
	padding-top: 0;
}
