@use "../tools" as *;

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
	appearance: none;
	background-color: var(--wp--custom--color--neutral--0);
	border: 1px solid var(--wp--custom--color--neutral--1000);
	box-shadow: none;
	display: block;
	font-size: var(--wp--preset--font-size--md);
	line-height: var(--wp--custom--line-height--normal);
	padding-bottom: var(--wp--preset--spacing--sm);
	padding-left: var(--wp--preset--spacing--md);
	padding-right: var(--wp--preset--spacing--md);
	padding-top: var(--wp--preset--spacing--sm);

	&:focus {
		box-shadow: inset 0 0 0 2px;
		outline: 3px solid var(--wp--custom--color--focus);
	}
}

textarea {
	width: 100%;
}

input::placeholder,
textarea::placeholder {
	color: var(--wp--custom--color--neutral--1000);
	opacity: 1;
}

select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: right var(--wp--preset--spacing--sm) center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	padding-right: var(--wp--preset--spacing--3-xl);
	print-color-adjust: exact;
}

[multiple] {
	background-image: initial;
	background-position: initial;
	background-repeat: unset;
	background-size: initial;
	print-color-adjust: unset;
}

[type="checkbox"],
[type="radio"] {
	appearance: none;
	background-color: var(--wp--custom--color--neutral--0);
	background-origin: border-box;
	border: 1px solid var(--wp--custom--color--neutral--1000);
	color: var(--wp--custom--color--neutral--1000);
	display: inline-block;
	flex-shrink: 0;
	height: 16px;
	padding: 0;
	print-color-adjust: exact;
	user-select: none;
	vertical-align: middle;
	width: 16px;

	&:focus {
		box-shadow: inset 0 0 0 2px;
		outline: 3px solid var(--wp--custom--color--focus);
	}

	&:checked {
		background-color: currentcolor;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border-color: transparent;

		&:hover,
		&:focus {
			background-color: currentcolor;
			border-color: transparent;
		}
	}
}

[type="checkbox"] {
	border-radius: none;
	margin-right: var(--wp--preset--spacing--xs);

	&:checked {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
	}

	&:indeterminate {
		background-color: currentcolor;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border-color: transparent;

		&:hover,
		&:focus {
			background-color: currentcolor;
			border-color: transparent;
		}
	}
}

[type="radio"] {
	border-radius: 100%;
	margin-right: var(--wp--preset--spacing--xs);

	&:checked {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
	}
}

[type="file"] {
	background: unset;
	border-color: inherit;
	border-radius: 0;
	border-width: 0;
	font-size: unset;
	line-height: inherit;
	padding: 0;

	&:focus {
		box-shadow: inset 0 0 0 2px;
		outline: 3px solid var(--wp--custom--color--focus);
	}
}

label {
	display: block;
	margin-bottom: var(--wp--preset--spacing--sm);
}

// Make sure buttons inherit color in Safari.
// Also remove padding by default.
button {
	color: inherit;
	padding: 0;
}

::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}

// Unfortunate hack until https://bugs.webkit.org/show_bug.cgi?id=198959 is fixed.
// This sucks because users can't change line-height with a utility on date inputs now.
// Reference: https://github.com/twbs/bootstrap/pull/31993
::-webkit-date-and-time-value {
	min-height: 1.5em;
}

// In Safari on macOS date time inputs are 4px taller than normal inputs
// This is because there is extra padding on the datetime-edit and datetime-edit-{part}-field pseudo elements
::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
	padding-bottom: 0;
	padding-top: 0;
}
