@use "../tools" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--wp--preset--font-family--primary);
	font-weight: 600;
	letter-spacing: var(--wp--custom--letter-spacing--tighter);
}

h1 {
	font-size: var(--wp--preset--font-size--5-xl);
	line-height: var(--wp--custom--line-height--none);
}

h2 {
	font-size: var(--wp--preset--font-size--4-xl);
	line-height: var(--wp--custom--line-height--tight);
}

h3 {
	font-size: var(--wp--preset--font-size--3-xl);
	line-height: var(--wp--custom--line-height--tight);
}

h4 {
	font-size: var(--wp--preset--font-size--2-xl);
	line-height: var(--wp--custom--line-height--tight);
}

h5 {
	font-size: var(--wp--preset--font-size--xl);
	line-height: var(--wp--custom--line-height--tight);
}

h6 {
	font-size: var(--wp--preset--font-size--lg);
	line-height: var(--wp--custom--line-height--tight);
}
