@use "../tools" as *;

:where(a:not(.wp-element-button)) {
	color: var(--wp--custom--color--neutral--1000);
	text-decoration: underline;

	&:focus-visible {
		background-color: var(--wp--custom--color--focus);
	}
}
