/// Map of breakpoints.
$breakpoints: (
	xs: 480px,
	sm: 640px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	2-xl: 1536px,
);

/// Generate a min-width and max-width query for each size.
@each $breakpoint-name, $breakpoint-size in $breakpoints {
	@custom-media --#{$breakpoint-name} (min-width: #{$breakpoint-size});
	@custom-media --#{$breakpoint-name}-down (max-width: #{$breakpoint-size - 1});
}
