@use "../tools" as *;

.site-header {
	margin: 0;
	position: relative;

	&__logo {
		font-family: unset;
		font-size: unset;
		line-height: 1;
		margin: 0;
	}

	&__logo-link {
		color: unset;
		display: inline-block;
	}

	&__icon {
		width: 200px;
	}
}
