@use "tools" as *;

:root :where(.wp-site-blocks) > .site-main {
	margin-block-start: 0;
}

.site-main,
.woocommerce {
	flex: 1 0 auto;
	margin: 0;

	> .wp-block-group + .wp-block-group {
		margin-block-start: var(--wp--custom--spacing--group-gap);
	}
}
