@use "../tools" as *;

/// Sets when the menu converts to desktop.
/// Used as a convenient way of updating a breakpoint in a single place.
$bp: --lg;

// Used for managing the overflow when a menu is open.
.has-open-menu {
	overflow: hidden;

	@media ($bp) {
		overflow: unset;
	}
}

// The top level <nav>
.menu-primary {

	// Menu items list.
	// This is the elemment thats visibility should be toggled on small screens.
	&__items {
		background-color: var(--wp--custom--color--base);
		display: flex;
		flex-direction: column;
		height: 100vh;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 100%;
		transform: translateX(-100%);
		transition: all 300ms ease-in-out;
		visibility: hidden;
		width: 100%;

		@media ($bp) {
			flex-direction: row;
			height: unset;
			max-width: unset;
			opacity: unset;
			position: unset;
			transform: unset;
			visibility: unset;
			width: unset;
		}

		// When the menu has been opened via the button.
		[aria-expanded="true"] + & {
			opacity: 1;
			transform: translateX(0);
			visibility: visible;
		}
	}

	// The sub-menu.
	&__sub-menu {
		display: none;
		flex-direction: column;
		width: 100%;

		@media ($bp) {
			background-color: var(--wp--custom--color--base);
			display: flex;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 100%;
			visibility: hidden;
		}

		/// Display the sub-menu when parent is open.
		[aria-expanded="true"] + & {
			display: flex;
			opacity: 1;
			visibility: visible;
		}
	}

	// Individual items.
	&__item {
		&:where(.has-children) {
			display: flex;
			flex-wrap: wrap;
			position: relative;

			@media ($bp) {
				flex-wrap: nowrap;
			}
		}

		// Mega menus are usually positioned relative to the menu
		// rather than the parent.
		&:where(.has-mega-menu) {
			position: static;
		}
	}

	// Item link.
	&__link {
		background-color: transparent;
		border: 0;
		color: var(--wp--custom--color--contrast);
		cursor: pointer;
		display: block;
		font-size: inherit;
		line-height: 1;
		padding: var(--wp--preset--spacing--sm);
		text-decoration: none;

		&:focus-visible {
			background-color: var(--wp--custom--color--focus);
			outline: none;
		}

		// An icon set for the item.
		&-icon {
			height: 10px;
			margin-left: var(--wp--preset--spacing--sm);
			width: 10px;

			[aria-expanded="true"] > & {
				transform: rotate(180deg);
			}
		}
	}

	// The menu toggle button.
	&__toggle {
		background-color: transparent;
		border: 0;
		cursor: pointer;
		padding: 0;

		@media ($bp) {
			display: none;
		}

		&-icon {
			width: 32px;
		}
	}

	// The toggle for the sub-menu, if `parent_as_toggle` is false.
	&__sub-menu-toggle {
		background-color: transparent;
		border: 0;
		cursor: pointer;
		padding: 0;
	}
}
