@use "../tools" as *;

.skip-link {
	@include hide-visually();
	background-color: color(focus);
	display: block;
	position: absolute;
	text-align: center;

	&:focus-visible {
		@include show-visually();
		outline: none;
		padding: space(1);
		position: static;
		text-decoration: underline;
		width: 100%;
	}
}
