@use "../tools" as *;

// Used to set a sensible spacing between all top level blocks.
.block-vertical-spacing {

    // No margin on the first element.
	> :where(:first-child) {
        margin-block-start: 0;
    }

    > * + * {
        margin-block-start: var( --wp--custom--layout--block-gap );
    }

    > :where(.wp-block-group) + :where(.wp-block-group) {
        margin-block-start: var( --wp--custom--layout--block-gap-large );
    }

    // We assume 2 blocks with a background colour should be sat together.
	> :where(.has-background) + :where(.has-background) {
        margin-block-start: 0;
    }
}
