@use "../tools" as *;

/// This class essentially recreates what WordPress adds to blocks
/// when a block is layout constrained.
/// This recreates the `has-global-padding` and `is-layout-constrained`
/// classes and should be placed on the parent element rather than the element
/// itself like you would with eg Tailwind.
.container {
	padding-left: var(--wp--style--root--padding-left);
	padding-right: var(--wp--style--root--padding-right);

	> * {
		margin-left: auto;
		margin-right: auto;
		max-width: theme(layout, content-size);
	}
}
