@use "../tools" as *;

///
// WordPress specific generated classes.
///

.screen-reader-text {
	@include hide-visually();
	position: absolute;

	&:focus {
		@include show-visually();
	}
}

.alignnone {}

.alignleft,
.has-text-align-left {
	text-align: left;
}

.aligncenter,
.has-text-align-center {
	text-align: center;
}

.alignright,
.has-text-align-right {
	text-align: right;
}

// Use the page padding as a negative margin for alignfull.
.alignfull {
	margin-left: calc(theme(spacing, page) * -1);
	margin-right: calc(theme(spacing, page) * -1);
}
