<!-- wp:template-part {"slug":"header","theme":"pulsar","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Site main"},"className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">
	<!-- wp:query-title {"type":"archive","showPrefix":false,"className":""} /-->

	<!-- wp:term-description {"className":""} /-->

	<!-- wp:woocommerce/store-notices {"align":"","className":""} /-->

	<!-- wp:group {"className":"","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
	<div class="wp-block-group">
		<!-- wp:woocommerce/product-results-count {"className":""} /-->

		<!-- wp:woocommerce/catalog-sorting {"className":""} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:woocommerce/product-collection {"queryId":2,"query":{"inherit":true},"tagName":"div","displayLayout":{"type":"flex","columns":4,"shrinkColumns":true},"convertedFromProducts":true,"queryContextIncludes":["collection"],"className":""} -->
	<div class="wp-block-woocommerce-product-collection">
		<!-- wp:woocommerce/product-template {"className":""} -->
		<!-- wp:woocommerce/product-image {"imageSizing":"thumbnail","isDescendentOfQueryLoop":true,"className":""} /-->

		<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"var:preset|spacing|md"}}},"className":"","fontSize":"md","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->

		<!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"className":""} /-->

		<!-- wp:woocommerce/product-button {"textAlign":"left","isDescendentOfQueryLoop":true,"className":"","style":{"spacing":{"margin":{"top":"var:preset|spacing|md"}}}} /-->
		<!-- /wp:woocommerce/product-template -->

		<!-- wp:group {"className":"","layout":{"type":"default"}} -->
		<div class="wp-block-group">
			<!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false,"className":"","layout":{"type":"flex","justifyContent":"center"}} -->
			<!-- wp:query-pagination-previous {"className":""} /-->

			<!-- wp:query-pagination-numbers {"className":""} /-->

			<!-- wp:query-pagination-next {"className":""} /-->
			<!-- /wp:query-pagination -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:woocommerce/product-collection -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"pulsar","tagName":"footer","className":"site-footer"} /-->
