<!-- wp:template-part {"slug":"header","theme":"pulsar","tagName":"header","className":""} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"cart","className":""} -->
<!-- wp:group {"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main"><!-- wp:woocommerce/store-notices {"className":""} /-->

<!-- wp:group {"align":"full","className":"","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:post-title {"level":1,"align":"wide","className":""} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"wide","className":""} /--></main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {"slug":"footer","theme":"pulsar","tagName":"footer","className":""} /-->
