<!-- wp:template-part {"slug":"header","theme":"pulsar","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
	<main class="wp-block-group site-main">

	<!-- wp:template-part {"slug":"breadcrumbs","theme":"pulsar","area":"uncategorized","align":"full","className":""} /-->

	<!-- wp:group {"metadata":{"name":"Store Notices"},"align":"wide","className":"","layout":{"type":"constrained"}} -->
		<div class="wp-block-group alignwide">

		<!-- wp:woocommerce/store-notices {"className":""} /-->

		</div>
	<!-- /wp:group -->

	<!-- wp:group {"metadata":{"name":"Product"},"align":"wide","className":"","layout":{"type":"constrained"}} -->
		<div class="wp-block-group alignwide">

		<!-- wp:columns {"className":"is-stacked-on-md","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|xl","left":"var:preset|spacing|4-xl"}}}} -->
			<div class="wp-block-columns alignwide is-stacked-on-md">

			<!-- wp:column {"width":"","className":""} -->
				<div class="wp-block-column">

				<!-- wp:woocommerce/product-gallery {"className":"","layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical"}} -->
					<div class="wp-block-woocommerce-product-gallery wc-block-product-gallery">

					<!-- wp:woocommerce/product-gallery-large-image {"className":""} -->
						<div class="wp-block-woocommerce-product-gallery-large-image wc-block-product-gallery-large-image__inner-blocks">

						<!-- wp:woocommerce/product-image {"showProductLink":false,"showSaleBadge":false,"className":"","style":{"dimensions":{"aspectRatio":"1"}}} -->
							<div class="is-loading">
							</div>
						<!-- /wp:woocommerce/product-image -->

						<!-- wp:woocommerce/product-sale-badge {"align":"right","className":""} /-->

						<!-- wp:woocommerce/product-gallery-large-image-next-previous {"className":""} -->
							<div class="wp-block-woocommerce-product-gallery-large-image-next-previous">
							</div>
						<!-- /wp:woocommerce/product-gallery-large-image-next-previous -->

						</div>
					<!-- /wp:woocommerce/product-gallery-large-image -->

					<!-- wp:woocommerce/product-gallery-thumbnails {"thumbnailSize":"20%","className":""} /-->

					</div>
				<!-- /wp:woocommerce/product-gallery -->

				</div>
			<!-- /wp:column -->

			<!-- wp:column {"className":""} -->
				<div class="wp-block-column">

				<!-- wp:group {"className":"is-position-sticky-top is-sticky-offset-0","style":{"position":{"type":"sticky","top":"0px"}}} -->
					<div class="wp-block-group is-position-sticky-top is-sticky-offset-0 is-position-sticky-top is-sticky-offset-0" style="--sticky-offset:0px">

					<!-- wp:group {"className":"","style":{"spacing":{"blockGap":"var:preset|spacing|md"}},"layout":{"type":"constrained"}} -->
						<div class="wp-block-group">

						<!-- wp:post-title {"level":1,"className":"","fontSize":"2-xl","__woocommerceNamespace":"woocommerce/product-query/product-title"} /-->

						<!-- wp:woocommerce/product-meta {"className":"","metadata":{"ignoredHookedBlocks":["core/post-terms"]}} -->
							<div class="wp-block-woocommerce-product-meta">

							<!-- wp:woocommerce/product-sku {"prefix":"","className":"","style":{"elements":{"link":{"color":{"text":"var:preset|color|base-accent"}}}},"textColor":"base-accent","fontSize":"md"} /-->

							</div>
						<!-- /wp:woocommerce/product-meta -->

						<!-- wp:woocommerce/product-rating {"isDescendentOfSingleProductTemplate":true,"className":"","textColor":"base-accent","fontSize":"md","style":{"elements":{"link":{"color":{"text":"var:preset|color|base-accent"}}}}} /-->

						<!-- wp:woocommerce/product-price {"isDescendentOfSingleProductTemplate":true,"className":"","fontSize":"xl"} /-->

						</div>
					<!-- /wp:group -->

					<!-- wp:post-excerpt {"className":""} /-->

					<!-- wp:woocommerce/add-to-cart-with-options {"className":""} /-->

					</div>
				<!-- /wp:group -->

				</div>
			<!-- /wp:column -->

			</div>
		<!-- /wp:columns -->

		</div>
	<!-- /wp:group -->

	<!-- wp:group {"metadata":{"name":"Product Details"},"align":"full","className":"","layout":{"type":"constrained"}} -->
		<div class="wp-block-group alignfull">

		<!-- wp:woocommerce/product-details {"align":"full","className":""} -->
			<div class="wp-block-woocommerce-product-details alignfull">

			<!-- wp:pulsar/tabs {"id":"z2XcIdiZ9Av","tabsCount":2,"activeTab":2,"className":""} -->
				<!-- wp:pulsar/tab {"title":"Description","isActive":false,"className":""} -->
					<!-- wp:heading {"level":4,"className":"","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|lg"}}}} -->
						<h4 class="wp-block-heading" style="margin-bottom:var(--wp--preset--spacing--lg)">Description</h4>
					<!-- /wp:heading -->

					<!-- wp:woocommerce/product-description {"className":""} /-->
				<!-- /wp:pulsar/tab -->

				<!-- wp:pulsar/tab {"title":"Additional Information","tabNumber":2,"className":""} -->
					<!-- wp:heading {"level":4,"className":"","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|lg"}}}} -->
						<h4 class="wp-block-heading" style="margin-bottom:var(--wp--preset--spacing--lg)">Additional Information</h4>
					<!-- /wp:heading -->

					<!-- wp:woocommerce/product-specifications {"className":""} /-->
				<!-- /wp:pulsar/tab -->
			<!-- /wp:pulsar/tabs -->

			</div>
		<!-- /wp:woocommerce/product-details -->

		</div>
	<!-- /wp:group -->

	<!-- wp:group {"metadata":{"name":"Related products"},"align":"full","className":"","layout":{"type":"constrained"}} -->
		<div class="wp-block-group alignfull">

		<!-- wp:woocommerce/product-collection {"queryId":1,"query":{"perPage":5,"pages":1,"offset":0,"postType":"product","order":"asc","orderBy":"title","search":"","exclude":[],"inherit":false,"taxQuery":[],"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock","onbackorder"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"carousel","columns":4,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"collection":"woocommerce/product-collection/related","hideControls":["inherit"],"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":true,"previewMessage":"Actual products will vary depending on the product being viewed."},"align":"wide","className":""} -->
			<div class="wp-block-woocommerce-product-collection alignwide">

			<!-- wp:group {"className":"","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
				<div class="wp-block-group">

				<!-- wp:heading {"className":""} -->
					<h2 class="wp-block-heading">Related products</h2>
				<!-- /wp:heading -->

				<!-- wp:woocommerce/product-gallery-large-image-next-previous {"className":"","layout":{"type":"flex","flexWrap":"nowrap"}} -->
					<div class="wp-block-woocommerce-product-gallery-large-image-next-previous">
					</div>
				<!-- /wp:woocommerce/product-gallery-large-image-next-previous -->

				</div>
			<!-- /wp:group -->

			<!-- wp:woocommerce/product-template {"className":"","layout":{"type":"flex","justifyContent":"left","verticalAlignment":"top","flexWrap":"nowrap","orientation":"horizontal"}} -->
				<!-- wp:group {"className":"","style":{"spacing":{"blockGap":"var:preset|spacing|xl"}},"layout":{"type":"default"}} -->
					<div class="wp-block-group">

					<!-- wp:woocommerce/product-image {"showSaleBadge":false,"saleBadgeAlign":"left","imageSizing":"thumbnail","isDescendentOfQueryLoop":true,"height":"%","className":""} -->
						<!-- wp:woocommerce/product-sale-badge {"align":"left","className":""} /-->
					<!-- /wp:woocommerce/product-image -->

					<!-- wp:group {"className":"","style":{"spacing":{"blockGap":"var:preset|spacing|md"}},"layout":{"type":"default"}} -->
						<div class="wp-block-group">

						<!-- wp:post-title {"className":"","fontSize":"sm","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->

						<!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"className":"","textColor":"base-accent","fontSize":"sm","style":{"elements":{"link":{"color":{"text":"var:preset|color|base-accent"}}}}} /-->

						</div>
					<!-- /wp:group -->

					</div>
				<!-- /wp:group -->
			<!-- /wp:woocommerce/product-template -->

			</div>
		<!-- /wp:woocommerce/product-collection -->

		</div>
	<!-- /wp:group -->

	<!-- wp:group {"metadata":{"name":"Shop by Category"},"align":"full","className":"pattern-shop-by-category","layout":{"type":"constrained"}} -->
		<div class="wp-block-group alignfull pattern-shop-by-category">

		<!-- wp:terms-query {"termQuery":{"perPage":3,"taxonomy":"product_cat","order":"asc","orderBy":"name","include":[],"hideEmpty":true,"showNested":true,"inherit":false},"align":"wide","className":""} -->
			<div class="wp-block-terms-query alignwide">

			<!-- wp:heading {"className":""} -->
				<h2 class="wp-block-heading">Shop by Category</h2>
			<!-- /wp:heading -->

			<!-- wp:term-template {"className":"","layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
				<!-- wp:image {"aspectRatio":"1","scale":"cover","metadata":{"bindings":{"url":{"source":"pulsar/term-featured-image","args":{"size":"large"}},"alt":{"source":"core/term-data","args":{"field":"name"}}}},"className":"","style":{"layout":{"selfStretch":"fixed","flexSize":"64px"}}} -->
					<figure class="wp-block-image">
						<img alt="" style="aspect-ratio:1;object-fit:cover"/>
					</figure>
				<!-- /wp:image -->

				<!-- wp:group {"className":"shop-by-category-buttons","style":{"spacing":{"blockGap":"var:preset|spacing|sm"}},"layout":{"type":"default"}} -->
					<div class="wp-block-group shop-by-category-buttons">

					<!-- wp:term-name {"level":3,"isLink":true,"className":"","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} /-->

					<!-- wp:buttons {"className":""} -->
						<div class="wp-block-buttons">

						<!-- wp:button {"textColor":"base","className":"is-style-link","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}}} -->
							<div class="wp-block-button is-style-link">
								<a class="wp-block-button__link has-base-color has-text-color has-link-color wp-element-button">Shop Now</a>
							</div>
						<!-- /wp:button -->

						</div>
					<!-- /wp:buttons -->

					</div>
				<!-- /wp:group -->
			<!-- /wp:term-template -->

			</div>
		<!-- /wp:terms-query -->

		</div>
	<!-- /wp:group -->

	</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"pulsar","tagName":"footer","className":"site-footer"} /-->
