@use "../tools" as *;

.wp-block-image {

	img {
		height: auto;
		max-width: 100%;
		vertical-align: bottom;
	}

	&.aligncenter {
		text-align: center;
	}

	&.alignfull img,
	&.alignwide img {
		height: auto;
		width: 100%;
	}

	&.alignleft,
	&.alignright,
	&.aligncenter,
	.alignleft,
	.alignright,
	.aligncenter {
		display: table;

		> figcaption {
			caption-side: bottom;
			display: table-caption;
		}
	}

	.alignleft {
		float: left;
		margin-bottom: space(6);
		margin-left: 0;
		margin-right: space(6);
	}

	.alignright {
		float: right;
		margin-bottom: space(6);
		margin-left: space(6);
		margin-right: 0;
	}

	// This is needed for classic themes where the align class is not on the container.
	.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	// Supply caption styles to images, even if the theme hasn't opted in.
	// Reason being: the new markup, <figcaptions>, are not likely to be styled in the majority of existing themes,
	// so we supply the styles so as to not appear broken or unstyled in those themes.
	figcaption {}

	// The following is required to overcome WP Core applying styles that clear
	// img borders with a higher specificity than those added by the border
	// block support to provide a default border-style of solid when a border
	// color or width has been set.
	:where(.has-border-color) {
		border-style: solid;
	}

	:where([style*="border-top-color"]) {
		border-top-style: solid;
	}

	:where([style*="border-right-color"]) {
		border-right-style: solid;
	}

	:where([style*="border-bottom-color"]) {
		border-bottom-style: solid;
	}

	:where([style*="border-left-color"]) {
		border-left-style: solid;
	}

	:where([style*="border-width"]) {
		border-style: solid;
	}

	:where([style*="border-top-width"]) {
		border-top-style: solid;
	}

	:where([style*="border-right-width"]) {
		border-right-style: solid;
	}

	:where([style*="border-bottom-width"]) {
		border-bottom-style: solid;
	}

	:where([style*="border-left-width"]) {
		border-left-style: solid;
	}
}
