@use "../tools" as *;

.wp-block-columns {
	// Ensure full vertical column stretch when alignment is not set.
	// This overrides the Layout block support's default align-items
	// setting of `center`.
	align-items: initial !important;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap !important;

	&:where(.is-reversed-when-stacked) {
		flex-direction: column-reverse;
	}

	&:where(.is-not-stacked-on-mobile) {
		flex-direction: row;
	}

	@media (--md) {
		flex-direction: row;
	}

	&:where(.is-stacked-on-tablet) {
		@media (--md) {
			flex-direction: column;

			&:where(.is-reversed-when-stacked) {
				flex-direction: column-reverse;
			}
		}

		@media (--lg) {
			flex-direction: row;
		}
	}

	&:where(.is-stacked-on-desktop) {
		@media (--lg) {
			flex-direction: column;

			&:where(.is-reversed-when-stacked) {
				flex-direction: column-reverse;
			}
		}

		@media (--xl) {
			flex-direction: row;
		}
	}

	// All Columns Alignment
	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}
}
