@use "tools" as *;

.wp-block-button {
	--width-gap: var(--wp--preset--spacing--md);

	&:where(.has-custom-width) {
		max-width: none;

		.wp-block-button__link {
			width: 100%;
		}
	}

	&:where(.wp-block-button__width-25) {
		width: calc(25% - (var(--width-gap) * 0.75));
	}

	&:where(.wp-block-button__width-50) {
		width: calc(50% - (var(--width-gap) * 0.5));
	}

	&:where(.wp-block-button__width-75) {
		width: calc(75% - (var(--width-gap) * 0.25));

	}

	&:where(.wp-block-button__width-100) {
		flex-basis: 100%;
		width: 100%;
	}

	:where(.is-vertical) > & {
		--width-gap: 0;
	}
}

.wp-element-button,
.wp-block-button__link {
	@include button(primary);
}
