@use "tools" as *;

.gform_wrapper {
	margin-top: 0;

	.gform_fields {
		display: grid;
		gap: var(--wp--custom--spacing--block-gap);

		@media (--md) {
			grid-template-columns: repeat(12, 1fr);
		}
	}

	.ginput_complex {
		display: flex;
		flex-wrap: wrap;
		gap: var(--wp--custom--spacing--block-gap);

		> * {
			flex: 1;
		}

		.ginput_full {
			flex: 0 0 100%;
		}
	}

	.gfield {
		grid-column: 1 / -1;

		@media (--md) {
			&--width-quarter {
				grid-column: span 3;
			}

			&--width-third {
				grid-column: span 4;
			}

			&--width-five-twelfths {
				grid-column: span 5;
			}

			&--width-half {
				grid-column: span 6;
			}

			&--width-seven-twelfths {
				grid-column: span 7;
			}

			&--width-two-thirds {
				grid-column: span 8;
			}

			&--width-three-quarter {
				grid-column: span 9;
			}
		}
	}

	.hidden_label {
		> .gfield_label {
			@include hide-visually;
		}
	}

	.gform_required_legend {
		display: none;
	}

	.gfield_required {
		color: var(--wp--custom--color--text--error);
	}

	.gfield_label {
		margin-bottom: var(--wp--preset--spacing--xs);

		> .gfield_required {
			margin-left: var(--wp--preset--spacing--2-xs);
		}
	}

	.ginput_container {
		> :where(input, select):where(:not([type="radio"], [type="checkbox"])) {
			width: 100%;
		}
	}

	.gfield--type-captcha {
		label {
			@include hide-visually;
		}
	}

	.ginput_container_radio,
	.ginput_container_checkbox,
	.ginput_container_consent {
		label {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
		}
	}

	.ginput_container_consent {
		display: inline-grid;
		gap: var(--wp--preset--spacing--xs);
		grid-template-columns: minmax(16px, max-content) auto;

		input {
			position: relative;
			top: 4px;
		}
	}

	.gform_confirmation_message {
		text-align: center;
	}

	.gform_button {
		@include button-base;

		&::before {
			content: "";
			height: 24px;
			width: 24px;
		}
	}

	.gform_validation_errors {
		margin-bottom: var(--wp--preset--spacing--lg);
	}

	.gform_footer {
		margin-top: var(--wp--preset--spacing--xl);
	}

	.gform_submission_error {
		color: var(--wp--custom--color--text--error);
		font-size: var(--wp--preset--font-size--md);
		font-weight: 400;
		margin-top: 0;
		text-transform: none;

		&:focus {
			outline: 0;
		}
	}

	.gfield_error {
		input,
		select,
		textarea {
			border-color: var(--wp--custom--color--border--error);
		}
	}

	.validation_message {
		color: var(--wp--custom--color--text--error);
		margin-top: var(--wp--preset--spacing--sm);
	}

	.gform_title {
		@include hide-visually;
	}

	.gform_hidden {
		display: none;
	}

	.gfield_visibility_hidden {
		left: -9999px;
		position: absolute;
		visibility: hidden;
	}

	.gform_validation_container {
		display: none !important; // stylelint-disable-line declaration-no-important
		left: -9999px;
		position: absolute !important; // stylelint-disable-line declaration-no-important
	}
}

.gform_ajax_spinner {
	display: none;
}

.gform_button__loading {
	animation: 1000ms rotate linear infinite;
	border: 3px solid;
	border-color:
		currentcolor #0000
		currentcolor #0000;
	border-radius: 50%;
	box-sizing: border-box;
	display: inline-block;
	height: 24px;
	position: relative;
	scale: 0.6;
	visibility: hidden;
	width: 24px;

	.is-loading & {
		visibility: visible;
	}

	&::before,
	&::after {
		border: 5px solid transparent;
		border-bottom-color: currentcolor;
		content: "";
		left: 0;
		position: absolute;
		top: 0;
		transform: translate(-5px, 9.5px) rotate(-35deg);
	}

	&::after {
		border-color: currentcolor #0000 #0000 #0000;
		transform: translate(16px, 1.5px) rotate(-35deg);
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
