@use "tools" as *;

.gform_wrapper {
	margin-top: 0;

	.gform_fields {
		display: grid;
		gap: var(--wp--custom--spacing--block-gap);

		@media (--md) {
			grid-template-columns: repeat(12, 1fr);
		}
	}

	.ginput_complex {
		display: flex;
		flex-wrap: wrap;
		gap: var(--wp--custom--spacing--block-gap);

		> * {
			flex: 1;
		}

		.ginput_full {
			flex: 0 0 100%;
		}
	}

	.gfield {
		grid-column: 1 / -1;

		@media (--md) {
			&--width-quarter {
				grid-column: span 3;
			}

			&--width-third {
				grid-column: span 4;
			}

			&--width-five-twelfths {
				grid-column: span 5;
			}

			&--width-half {
				grid-column: span 6;
			}

			&--width-seven-twelfths {
				grid-column: span 7;
			}

			&--width-two-thirds {
				grid-column: span 8;
			}

			&--width-three-quarter {
				grid-column: span 9;
			}
		}
	}

	.hidden_label {
		> .gfield_label {
			@include hide-visually;
		}
	}

	.gform_required_legend {
		display: none;
	}

	.gfield_required {
		color: var(--wp--custom--color--error);
	}

	.gfield_label {
		@include label;

		> .gfield_required {
			margin-left: var(--wp--preset--spacing--xs);
		}
	}

	.ginput_container {
		> :where(input, select):where(:not([type="radio"], [type="checkbox"])) {
			width: 100%;
		}
	}

	.gfield--type-captcha {
		label {
			@include hide-visually;
		}
	}

	.ginput_container_radio,
	.ginput_container_checkbox,
	.ginput_container_consent {
		label {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
		}
	}

	.ginput_container_consent {
		display: inline-grid;
		gap: var(--wp--preset--spacing--sm);
		grid-template-columns: minmax(16px, max-content) auto;

		input {
			position: relative;
			top: 4px;
		}
	}

	.gform_confirmation_message {
		text-align: center;
	}

	.gform_button {
		@include button-base;
	}

	.gform_validation_errors {
		margin-bottom: var(--wp--preset--spacing--xl);
	}

	.gform_footer {
		margin-top: var(--wp--preset--spacing--2-xl);
	}

	.gform_submission_error {
		color: var(--wp--custom--color--error);
		font-size: var(--wp--preset--font-size--md);
		font-weight: var(--wp--custom--typography--weight--regular);
		margin-top: 0;
		text-transform: none;

		&:focus {
			outline: 0;
		}
	}

	.gfield_error {
		input,
		select,
		textarea {
			border-color: var(--wp--custom--color--error);
		}
	}

	.validation_message {
		color: var(--wp--custom--color--error);
		margin-top: var(--wp--preset--spacing--sm);
	}

	.gform_title {
		@include hide-visually;
	}

	.gsection_description {
		color: var(--wp--preset--color--base-accent);
		margin-top: var(--wp--preset--spacing--sm);
	}

	.gform_hidden {
		display: none;
	}

	.gfield_visibility_hidden {
		left: -9999px;
		position: absolute;
		visibility: hidden;
	}

	.gform_validation_container {
		display: none !important; // stylelint-disable-line declaration-no-important
		left: -9999px;
		position: absolute !important; // stylelint-disable-line declaration-no-important
	}
}
