@use "tools" as *;

.wp-block-woocommerce-product-gallery {
	&.wp-block-woocommerce-product-gallery {
		gap: var(--wp--preset--spacing--md);
	}

	// Large image inner blocks.
	.wc-block-product-gallery-large-image__inner-blocks {
		height: calc(100% - calc(var(--wp--preset--spacing--lg) * 2));
		left: var(--wp--preset--spacing--lg);
		top: var(--wp--preset--spacing--lg);
		width: calc(100% - calc(var(--wp--preset--spacing--lg) * 2));
	}

	// Gallery thumbnails.
	.wc-block-product-gallery-thumbnails__scrollable {
		gap: var(--wp--preset--spacing--md);
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	// Main image.
	.wc-block-product-gallery-large-image__wrapper {
		border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--preset--border-radius--md));
		overflow: clip;
	}

	// Thumbnails
	.wc-block-product-gallery-thumbnails__thumbnail img {
		border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--preset--border-radius--sm));
	}

	// Dialog.
	:where(.wc-block-product-gallery-dialog) {
		background-color: var(--wp--preset--color--base);
		border: none;
	}

	// Dialog content.
	.wc-block-product-gallery-dialog__content img {
		border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--preset--border-radius--md));
	}

	// Dialog close button.
	.wc-block-product-gallery-dialog__close-button {
		&::before {
			@include icon("icons/x", 32px, var(--wp--preset--color--contrast));
		}

		svg {
			display: none;
		}
	}
}
