@use "../tools" as *;

.woocommerce .product .wp-block-woocommerce-product-details .wp-block-pulsar-tabs {
	--pb--tabs--gap: 0;

	background-color: var(--wp--preset--color--tint-primary);
	padding-inline: var(--wp--custom--spacing--edge);

	@media (--lg) {
		background-color: transparent;
		margin-left: auto !important; // stylelint-disable-line declaration-no-important
		margin-right: auto !important; // stylelint-disable-line declaration-no-important
		max-width: var(--wp--style--global--wide-size);
		padding-inline: unset;
	}

	&__list {
		border-bottom: 1px solid var(--wp--custom--color--border);
		flex-direction: column;
		gap: var(--wp--preset--spacing--sm);
		padding-block: var(--wp--preset--spacing--2-xl);

		@media (--lg) {
			border-bottom: none;
			flex-direction: row;
			gap: inherit;
			padding-block: unset;
		}
	}

	&__tab {
		border: none;
		border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--preset--border-radius--sm));
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		font-weight: var(--wp--custom--typography--font-weight--heading);
		padding-block: var(--wp--preset--spacing--lg);
		padding-inline: var(--wp--preset--spacing--2-xl);

		&:where([aria-selected="true"]) {
			background-color: var(--wp--preset--color--brand-secondary);

			@media (--lg) {
				background-color: var(--wp--preset--color--tint-primary);
			}
		}
	}

	&__panel {
		background-color: var(--wp--preset--color--tint-primary);
		padding-block: var(--wp--preset--spacing--2-xl);

		@media (--lg) {
			padding-inline: var(--wp--preset--spacing--2-xl);
		}
	}
}
