@use "../tools" as *;

.wc-block-product-template {
	--column-gap: var(--wp--custom--layout--block-gap);
	--row-gap: calc(var(--column-gap) * 2);
	--min-width: 200px;

	gap: var(--row-gap) var(--column-gap);

	&__responsive {
		@for $i from 2 through 6 {
			&.columns-#{$i} {
				grid-template-columns: repeat(auto-fill, minmax(max(var(--min-width), calc(100% / #{$i} - var(--column-gap))), 1fr));
			}
		}
	}
}
