@use "../tools" as *;

.wp-block-woocommerce-product-gallery {
	.wc-block-product-gallery-large-image .wc-block-product-gallery-large-image__inner-blocks {
		padding: var(--wp--preset--spacing--md);
	}

	.wc-block-product-gallery-large-image {
		border: 1px solid var(--wp--custom--color--border);
	}

	.wc-block-product-gallery-thumbnails {
		gap: var(--wp--preset--spacing--sm);
	}

	.wc-block-product-gallery-thumbnails__thumbnail {
		border: 1px solid var(--wp--custom--color--border);
	}

	.wc-block-product-gallery-large-image-next-previous-container {
		left: 0;
		padding-inline: var(--wp--preset--spacing--md);
		right: 0;
	}

	.wc-block-product-gallery-large-image-next-previous {

		// Hide SVGs and use masks instead.
		svg {
			display: none;
		}

		button {
			align-items: center;
			display: flex;
			height: 44px;
			justify-content: center;
			width: 44px;

			&:not(:disabled):hover {
				background-color: var(--wp--preset--color--base);
				color: var(--wp--preset--color--contrast);
			}

			&:focus-visible {
				@include focus-ring;
			}
		}

		.wc-block-product-gallery-large-image-next-previous__button {
			&:first-child::before {
				@include icon(chevron-left);
			}

			&:last-child::before {
				@include icon(chevron-right);
			}
		}
	}
}
