@use "../tools" as *;

.wp-block-woocommerce-mini-cart-contents {
	.wc-block-components-drawer__close-wrapper .wc-block-components-drawer__close {
		align-items: center;
		background-color: var(--wp--preset--color--base); // stylelint-disable-line declaration-no-important
		display: flex;
		height: 44px;
		justify-content: center;
		margin: unset;
		padding: unset !important; // stylelint-disable-line declaration-no-important
		top: var(--wp--preset--spacing--xl);
		width: 44px;

		@media (--lg) {
			top: var(--wp--preset--spacing--2-xl);
		}

		&:focus-visible {
			@include focus-ring;
		}

		&::before {
			@include icon(close);
			color: var(--wp--preset--color--contrast);
		}

		svg {
			display: none;
		}
	}

	.wc-block-mini-cart__title {
		border-bottom: 1px solid var(--wp--custom--color--border);
		color: var(--wp--preset--color--contrast);
		font-size: var(--wp--preset--font-size--xl);
		margin: unset;
		mask-image: unset;
		padding: var(--wp--preset--spacing--2-xl);
		z-index: unset;
	}

	.wp-block-woocommerce-mini-cart-title-items-counter-block {
		color: var(--wp--preset--color--base-accent);
		font-size: 70%;
		font-weight: var(--wp--custom--typography--weight--body);
	}

	.wc-block-mini-cart__items {
		padding: var(--wp--preset--spacing--2-xl);

		.wc-block-cart-items__row {
			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}
		}

		.wc-block-cart-item__product {
			.wc-block-components-product-name {
				color: var(--wp--preset--color--contrast);
				font-size: var(--wp--preset--font-size--md);
				font-weight: var(--wp--custom--typography--weight--heading);
				margin: unset;
				text-decoration: none;
			}

			.wc-block-components-product-price {
				margin-top: var(--wp--preset--spacing--xs);

				.wc-block-components-product-price__regular {
					display: none;

					@media (--xs) {
						display: inline;
						font-size: 70%;
						margin-right: var(--wp--preset--spacing--xs);
					}
				}
			}

			.wc-block-components-product-price__value {
				margin: unset;
			}

			.wc-block-components-product-metadata__description {
				display: none;
			}

			.wc-block-components-sale-badge {
				display: none;
			}

			.wc-block-components-product-metadata {
				font-size: var(--wp--preset--font-size--xs);
				margin-bottom: unset;
				margin-top: var(--wp--preset--spacing--lg);
			}

			.wc-block-cart-item__quantity {
				margin-top: var(--wp--preset--spacing--lg);
			}

			.wc-block-components-quantity-selector {
				@include wc-quantity-selector;
			}

			.wc-block-cart-item__quantity .wc-block-cart-item__remove-link {
				color: var(--wp--custom--color--error);
				font-size: var(--wp--preset--font-size--sm);
				margin-top: var(--wp--preset--spacing--md);

				&:hover {
					color: var(--wp--custom--color--error);
				}

				&:focus-visible {
					@include focus-block;
				}
			}
		}

		.wc-block-cart-item__total {
			.wc-block-components-product-price {
				font-weight: var(--wp--custom--typography--weight--heading);
			}

			.wc-block-components-sale-badge {
				display: none;

				@media (--xs) {
					@include wc-sale-badge;
					display: inline-block;
					margin-top: var(--wp--preset--spacing--sm);
				}
			}
		}
	}

	.wc-block-mini-cart__footer {
		background-color: var(--wp--preset--color--tint);
		padding: var(--wp--preset--spacing--2-xl);

		&::after {
			content: none;
		}

		.wc-block-mini-cart__footer-subtotal {
			font-size: var(--wp--preset--font-size--lg);

			.wc-block-components-totals-item__label {
				font-weight: var(--wp--custom--typography--weight--heading);
			}

			.wc-block-components-totals-item__value {
				font-weight: var(--wp--custom--typography--weight--body);
			}

			.wc-block-components-totals-item__description {
				font-size: var(--wp--preset--font-size--md);
				margin-top: var(--wp--preset--spacing--lg);
			}
		}
	}

	.wc-block-mini-cart__footer-actions {
		margin-top: var(--wp--preset--spacing--3-xl);
	}
}

.wc-block-mini-cart__drawer {
	font-size: inherit;
}

.wc-block-components-drawer {
	background-color: var(--wp--preset--color--base);
}

.wc-block-mini-cart__badge {
	aspect-ratio: 1 / 1;
	background-color: var(--wp--preset--color--brand);
	font-size: var(--wp--preset--font-size--xs);
	font-weight: var(--wp--custom--typography--weight--heading);
	height: 24px;
	width: 24px;
}
