@use "../tools" as *;

.woocommerce-checkout {
	.site-main {
		background-color: var(--wp--preset--color--tint);
		padding-block: var(--wp--custom--spacing--group-gap);

		.wp-block-post-title {
			margin-top: unset;
			max-width: var(--wp--custom--layout--wide);
		}

		.entry-content {
			margin-top: var(--wp--custom--spacing--row-gap);
		}
	}
}

.wp-block-woocommerce-checkout {
	padding: unset;

	.wc-block-components-sidebar-layout {
		gap: var(--wp--preset--spacing--3-xl);
		margin: unset;

		@media (--lg) {
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}

	.wc-block-checkout__main {
		background-color: var(--wp--preset--color--base);
		border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--md));
		padding: var(--wp--preset--spacing--2-xl);
	}

	.wc-block-checkout__sidebar {
		background-color: var(--wp--preset--color--base);
		border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--md));
		margin: unset;
		padding: var(--wp--preset--spacing--2-xl);

		.wc-block-components-totals-coupon,
		.wc-block-components-totals-item {
			padding-inline: unset;
		}
	}

	.wp-block-woocommerce-checkout-order-summary-block {
		border: unset;
	}

	.wc-block-components-totals-wrapper {
		border-top: 1px solid var(--wp--custom--color--border);
		padding-block: var(--wp--preset--spacing--xl);
	}

	.wc-block-components-totals-wrapper:empty,
	.wc-block-components-totals-wrapper:has(> :only-child:empty) {
		border: unset;
		padding: unset;
	}

	.wp-block-woocommerce-checkout-order-summary-totals-block {
		border-top: 1px solid var(--wp--custom--color--border);
		padding-bottom: unset;
	}

	// Order summary styles.
	.wc-block-components-order-summary {
		padding: unset;

		.wc-block-components-order-summary-item {
			font-size: var(--wp--preset--font-size--sm);
			padding-block: var(--wp--preset--spacing--lg);

			&:last-child {
				padding-bottom: unset;
			}

			+ .wc-block-components-order-summary-item {
				border-top: 1px solid var(--wp--custom--color--border);
			}
		}

		.wc-block-components-order-summary-item__image {
			padding-bottom: unset;
		}

		.wc-block-components-order-summary-item__description {
			padding: 0 var(--wp--preset--spacing--sm) 0 var(--wp--preset--spacing--xl);
		}

		.wc-block-components-order-summary-item__quantity {
			align-items: center;
			aspect-ratio: 1;
			background-color: var(--wp--preset--color--brand);
			border-radius: 50%;
			color: var(--wp--preset--color--base);
			font-size: 60%;
			font-weight: var(--wp--custom--typography--font-weight--heading);
			height: 24px;
			width: 24px;
		}

		.wc-block-components-product-name {
			color: var(--wp--preset--color--contrast);
			font-size: var(--wp--preset--font-size--md);
			font-weight: var(--wp--custom--typography--font-weight--heading);
			margin: unset;
			text-decoration: none;
		}

		.wc-block-components-product-price {
			margin-top: var(--wp--preset--spacing--xs);
			padding-top: unset;

			.wc-block-components-product-price__regular {
				display: none;

				@media (--xs) {
					display: inline;
					font-size: 70%;
					margin-right: var(--wp--preset--spacing--xs);
				}
			}

			.wc-block-formatted-money-amount {
				font-weight: var(--wp--custom--typography--font-weight--body);
			}
		}

		.wc-block-components-order-summary-item__total-price {
			font-weight: var(--wp--custom--typography--font-weight--body);
			line-height: var(--wp--custom--typography--line-height--tight);
		}

		.wc-block-components-product-price__value {
			margin: unset;
		}

		.wc-block-components-product-metadata__description {
			display: none;
		}

		.wc-block-components-sale-badge {
			display: none;
		}

		.wc-block-components-product-metadata {
			font-size: var(--wp--preset--font-size--xs);
			margin: unset;
		}

		.wc-block-components-product-details {
			margin-top: var(--wp--preset--spacing--md);
		}

		.wc-block-components-product-details__name {
			font-weight: var(--wp--custom--typography--font-weight--body);
		}
	}

	.wc-block-components-checkout-order-summary__title {
		margin: unset;

		.wc-block-components-checkout-order-summary__title-text {
			@include heading-base;
			@include heading(h3);
			margin: unset;
		}
	}

	.wc-block-components-title {
		@include heading-base;
		@include heading(h3);
		margin: unset;
	}

	.wc-block-components-checkout-step__description {
		color: var(--wp--preset--color--base-accent);
	}

	.wc-block-components-address-card {
		border: 1px solid var(--wp--custom--color--border);
		border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--md));
		font-size: inherit;
		padding: var(--wp--preset--spacing--xl);

		address .wc-block-components-address-card__address-section:first-child {
			font-weight: var(--wp--custom--typography--font-weight--heading);
		}
	}

	.wc-block-components-checkbox__label {
		font-weight: var(--wp--custom--typography--font-weight--body);
	}

	.wc-block-components-text-input,
	.wc-block-components-text-input.is-active {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--sm);
		margin-top: var(--wp--custom--spacing--block-gap);

		input[type="email"],
		input[type="number"],
		input[type="password"],
		input[type="tel"],
		input[type="text"],
		input[type="url"] {
			@include field-input;
			height: unset;
		}

		label {
			@include label;
			margin: unset;
			order: -1;
			position: unset;
			transform: unset;
		}
	}

	.wc-blocks-components-select__container {
		background-color: unset;
		border-radius: unset;
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--sm);
		height: unset;
		margin-top: var(--wp--custom--spacing--block-gap);

		select {
			@include field-select;
			height: unset;
		}

		label {
			@include label;
			margin: unset;
			order: -1;
			position: static;
			transform: unset;
		}

		.wc-blocks-components-select__expand {
			display: none;
		}
	}

	.wc-block-components-textarea {
		@include field-textarea;
		margin-top: var(--wp--custom--spacing--block-gap);
	}

	.wc-block-components-checkbox {
		.wc-block-components-checkbox__input[type="checkbox"] {
			@include field-checkbox;

			&::before,
			&::after {
				content: none;
			}
		}

		.wc-block-components-checkbox__mark {
			display: none;
		}

		label {
			display: flex;
			gap: var(--wp--preset--spacing--sm);
		}
	}

	.wc-block-components-checkout-step {
		margin-bottom: var(--wp--preset--spacing--3-xl);
	}

	.wc-block-checkout__terms {
		margin-bottom: var(--wp--preset--spacing--3-xl);
	}

	.wc-block-checkout__terms--with-separator {
		border-top: 1px solid var(--wp--custom--color--border);
		padding-top: var(--wp--preset--spacing--3-xl);
	}

	.wc-block-components-totals-item__label {
		font-size: var(--wp--preset--font-size--md);
		font-weight: var(--wp--custom--typography--font-weight--heading);
	}

	.wc-block-components-totals-item__value {
		font-size: var(--wp--preset--font-size--md);
		font-weight: var(--wp--custom--typography--font-weight--body);

		strong,
		.wc-block-components-formatted-money-amount {
			font-weight: inherit;
		}
	}

	.wc-block-components-totals-coupon__form {
		gap: var(--wp--preset--spacing--sm);

		label {
			@include hide-visually;
			position: absolute !important; // stylelint-disable-line declaration-no-important -- make sure the label is hidden and not taking up space
		}

		.wc-block-components-totals-coupon__input {
			margin: unset;
		}
	}

	.wp-block-woocommerce-checkout-actions-block .wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button {
		@include button(primary);
	}

	.wc-block-components-radio-control--highlight-checked .wc-block-components-radio-control-accordion-option--checked-option-highlighted,
	.wc-block-components-radio-control--highlight-checked label.wc-block-components-radio-control__option--checked-option-highlighted {
		border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--sm));
		box-shadow: inset 0 0 0 1px var(--wp--custom--color--border);
	}

	.wc-block-components-radio-control--highlight-checked .wc-block-components-radio-control__option::after,
	.wc-block-components-radio-control--highlight-checked div.wc-block-components-radio-control-accordion-option::after {
		content: none;
	}

	.wc-block-components-radio-control-accordion-content {
		color: var(--wp--preset--color--base-accent);
		font-size: var(--wp--preset--font-size--sm);
		padding: 0 var(--wp--preset--spacing--xl) var(--wp--preset--spacing--xl);
	}

	.wc-block-checkout__payment-method .wc-block-components-radio-control__option,
	.wc-block-checkout__payment-method .wc-block-components-radio-control__option:first-child,
	.wc-block-checkout__payment-method .wc-block-components-radio-control__option:last-child {
		padding-bottom: var(--wp--preset--spacing--lg);
		padding-left: var(--wp--preset--spacing--4-xl);
		padding-right: var(--wp--preset--spacing--xl);
		padding-top: var(--wp--preset--spacing--xl);
	}

	.wc-block-checkout__shipping-option .wc-block-components-radio-control__option {
		padding: var(--wp--preset--spacing--xl) var(--wp--preset--spacing--xl) var(--wp--preset--spacing--xl) var(--wp--preset--spacing--4-xl);
	}

	.wc-block-components-shipping-rates-control__package .wc-block-components-radio-control__label {
		font-weight: var(--wp--custom--typography--font-weight--body);
	}

	.wc-block-checkout__payment-method .wc-block-components-radio-control__option .wc-block-components-radio-control__input {
		left: var(--wp--preset--spacing--xl);
	}

	.wc-block-components-radio-control {
		&::after {
			content: none;
		}
	}

	.wc-block-components-radio-control .wc-block-components-radio-control__input {
		@include field-radio;

		&::before {
			content: none;
		}
	}

	.wcs-recurring-totals-panel {
		padding: unset;

		.wcs-recurring-totals-panel__details {
			padding-inline: unset;
		}

		.wcs-recurring-totals-panel__title {
			font-size: var(--wp--preset--font-size--md);
			font-weight: var(--wp--custom--typography--font-weight--heading);
		}

		.wc-block-components-totals-item__description {
			font-weight: var(--wp--custom--typography--font-weight--body);
		}

		.wc-block-components-totals-wrapper:last-child {
			padding-bottom: unset;
		}
	}
}
