@use "../tools" as *;

.woocommerce div.product .wc-block-add-to-cart-form form.cart {
	table.variations {
		tr {
			th {
				display: block;
				line-height: inherit;
				padding: 0;

				label {
					margin: 0;
				}
			}

			td {
				select {
					font-size: inherit;
					height: unset;
					margin: 0;
					width: 100%;
				}
			}
		}
	}

	button.single_add_to_cart_button {
		margin-bottom: 0;
	}

	.input-text {
		font-size: inherit;
		padding: var(--wp--preset--spacing--sm) var(--wp--preset--spacing--xl);
	}

	.quantity {
		display: flex;
		margin-bottom: 0;

		.qty {
			appearance: textfield;
			border: 0;
			margin: 0;
			padding: 0;
			text-align: center;
			width: 60px;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}

		&__button {
			background: none;
			border: 0;
			cursor: pointer;
			padding: 0;
			text-align: center;
			width: 30px;

			&:hover {
				background: none;
			}
		}
	}
}
