@use "../tools" as *;

.woocommerce div.product .wc-block-add-to-cart-form {
	form.cart {
		border-top: 1px solid var(--wp--custom--color--border);
		gap: var(--wp--custom--spacing--block-gap);
		grid-template-columns: min-content 1fr;
		margin-bottom: 0;
		padding: var(--wp--custom--spacing--block-gap) 0 0 0;

		&:where(:has(.wcsatt-options-wrapper)) {
			border-top: unset;
			padding-top: unset;
		}

		&::before,
		&::after {
			content: none;
		}

		table.variations {
			margin-bottom: var(--wp--custom--spacing--block-gap);

			tbody {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
				gap: var(--wp--custom--spacing--block-gap);
			}

			tr {
				display: flex;
				flex-direction: column;
				gap: var(--wp--preset--spacing--xs);
				width: 100%;

				th {
					line-height: inherit;
					padding: 0;

					// stylelint-disable-next-line max-nesting-depth
					label {
						font-weight: var(--wp--custom--typography--font-weight--heading);
					}
				}

				td {
					line-height: inherit;
					padding: 0;

					// stylelint-disable-next-line max-nesting-depth
					select {
						@include field-select();
						margin: 0;
					}
				}
			}

			.reset_variations {
				display: none !important; // stylelint-disable-line declaration-no-important
			}
		}

		button.single_add_to_cart_button {
			margin-bottom: 0;
		}

		.variations_button {
			gap: var(--wp--custom--spacing--block-gap);
			grid-template-columns: min-content 1fr;
		}

		.single_add_to_cart_button {
			width: 100%;
		}

		.input-text {
			font-size: inherit;
			padding: var(--wp--preset--spacing--sm) var(--wp--preset--spacing--xl);
		}

		.quantity {
			border: 1px solid var(--wp--custom--color--border-input);
			border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--sm));
			display: flex;
			margin: 0;
			padding: var(--wp--preset--spacing--sm);

			&:focus-within {
				border-color: var(--wp--preset--color--brand-primary);
				box-shadow: var(--wp--preset--color--brand-primary) 0 0 0 1px;
				outline: 2px solid transparent;
				outline-offset: 2px;
			}

			.qty {
				appearance: textfield;
				border: 0;
				height: 100%;
				margin: 0;
				padding: 0;
				text-align: center;
				width: 60px;

				&:focus {
					box-shadow: none;
					outline: none;
				}

				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}

			&__button {
				background: none;
				border: 0;
				cursor: pointer;
				padding: 0;
				position: relative;
				text-align: center;
				width: 24px;
				z-index: 1;

				&:hover {
					background: none;
				}

				&:focus-visible {
					@include focus-ring;
				}
			}
		}

		// Hide single variation
		// We are updating the variation description and price via JavaScript
		.single_variation {
			display: none !important; // stylelint-disable-line declaration-no-important
		}
	}

	.stock {
		border: 2px solid currentcolor;
		border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--xs));
		display: inline-flex;
		font-size: var(--wp--preset--font-size--sm);
		font-weight: var(--wp--custom--typography--font-weight--heading);
		margin: unset;
		padding: var(--wp--preset--spacing--sm) var(--wp--preset--spacing--md);

		+ .cart {
			margin-block-start: var(--wp--custom--spacing--block-gap);
		}
	}

	.out-of-stock {
		color: var(--wp--custom--color--error);
	}

	.available-on-backorder {
		color: var(--wp--custom--color--warning);
	}

	.in-stock {
		color: var(--wp--custom--color--success);
	}

	// Subscriptions
	.wcsatt-options-wrapper {
		.wcsatt-options-prompt-radios {
			display: flex;
			flex-direction: column;
			gap: var(--wp--preset--spacing--xl);
			padding: unset;

			label {
				border: 1px solid var(--wp--custom--color--border);
				border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--md));
				font-weight: var(--wp--custom--typography--font-weight--body);
				padding: var(--wp--preset--spacing--xl) var(--wp--preset--spacing--xl) var(--wp--preset--spacing--xl) var(--wp--preset--spacing--4-xl);
				position: relative;

				&:where(:has(input:checked)) {
					background-color: var(--wp--preset--color--tint-primary);
					border-color: var(--wp--custom--color--border-input);
				}
			}

			input {
				left: var(--wp--preset--spacing--xl);
				position: absolute;
				top: 50%;
				transform: translateY(-45%);
			}
		}

		.wcsatt-options-product-dropdown {
			margin-bottom: unset;
		}

		.wcsatt-options-product-dropdown-label {
			@include label;
		}

		.wcsatt-options-prompt-action {
			align-items: center;
			display: flex;
			gap: var(--wp--preset--spacing--xs);
			padding: unset;
		}

		.wcsatt-options-prompt-label .price {
			margin: unset;
		}

		.wcsatt-options-product-prompt {
			margin-bottom: var(--wp--preset--spacing--xl);
		}

		.wcsatt-sub-discount {
			background-color: var(--wp--preset--color--brand-primary);
			border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--lg));
			color: var(--wp--preset--color--base);
			font-weight: var(--wp--custom--typography--font-weight--heading);
			line-height: var(--wp--custom--typography--line-height--none);
			padding: var(--wp--preset--spacing--xs) var(--wp--preset--spacing--sm);
		}

		.wcsatt-options-product-wrapper {
			background-color: var(--wp--preset--color--tint-primary);
			border: 1px solid var(--wp--custom--color--border-input);
			border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--md));
			font-weight: var(--wp--custom--typography--font-weight--body);
			padding: var(--wp--preset--spacing--xl);
		}

		.subscription-price {
			ins {
				font-weight: var(--wp--custom--typography--font-weight--body);
			}

			del {
				display: none;
			}
		}
	}

	// Product Bundles
	.bundle_button {
		display: grid;
		gap: var(--wp--custom--spacing--block-gap);
		grid-template-columns: min-content 1fr;
	}

	.bundle_form {
		.product {
			&::before,
			&::after {
				content: none;
			}

			.bundled_product_title {
				font-size: var(--wp--preset--font-size--md);
				margin-bottom: unset;
			}

			.bundled_product_excerpt {
				p:first-child {
					margin-top: unset;
				}
			}
		}

		&.layout_grid {
			.products {
				display: grid;
				gap: var(--wp--custom--spacing--block-gap);
				grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

				&::before,
				&::after {
					content: none;
				}

				.product {
					margin: unset;
					padding: unset;
					width: unset;
				}

				.bundled_product_image {
					margin-bottom: var(--wp--preset--spacing--xl);
				}
			}
		}

		&.layout_default {
			.product {
				align-items: center;
				display: flex;
				gap: var(--wp--custom--spacing--block-gap);
				margin: unset;
				padding: unset;
			}

			.details {
				padding: unset;
				width: 100%;
			}
		}

		&.layout_tabular {
			th {
				padding-block: 0;
			}

			td {
				vertical-align: middle;
			}

			.bundled_item_details_head {
				padding-left: 0;
				text-align: left;
			}

			.bundled_item_qty_head,
			.bundled_item_qty_col {
				padding-right: 0;
				text-align: right;
			}

			.quantity {
				border: unset;
				border-radius: unset;
				padding: unset;
			}
		}
	}
}
