@use "../tools" as *;

.wc-block-product-template {
	--column-gap: var(--wp--preset--spacing--2-xl);
	--row-gap: var(--wp--preset--spacing--3-xl);
	--min-width: 220px;

	gap: var(--row-gap) var(--column-gap);

	&__responsive {
		@for $i from 2 through 6 {
			&.columns-#{$i} {
				grid-template-columns: repeat(auto-fill, minmax(max(var(--min-width), calc(100% / #{$i} - var(--column-gap))), 1fr));
			}
		}
	}

	.wp-block-heading + & {
		margin-block-start: var(--wp--custom--spacing--row-gap);
	}

	&__image-btn-wrapper {
		overflow: clip;
		position: relative;

		.wp-block-woocommerce-product-button {
			align-items: center;
			bottom: var(--wp--preset--spacing--sm);
			display: flex;
			flex-direction: row;
			gap: 0;
			opacity: 0;
			position: absolute;
			right: var(--wp--preset--spacing--sm);
			transform: translateY(100%);
			transition: transform var(--wp--custom--transition--duration--normal) cubic-bezier(0.4, 0, 0.2, 1), opacity var(--wp--custom--transition--duration--normal) cubic-bezier(0.4, 0, 0.2, 1);

			.added_to_cart {
				@include button(primary);
				margin: 0;
			}
		}
	}

	.wc-block-product:hover {
		.wp-block-woocommerce-product-button {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
